<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% content_for :title, @note.title %>
    <style>
        .container{
            display: grid;
            gap: 32px;
            grid-template-columns: 2fr 1.25fr;
            padding-left: 96px;
            background-color: white;
            height: 100vh;
        }
        .drittel{
            background-color: #F9F9FA;
            padding:24px;
            height: calc(100vh - 50px);
            border-left: 1px solid rgb(228, 228, 231);
        }
        .note-heading{
            display:flex;
            align-items: center;
            margin-bottom: 16px;
        }
        .note-actions{
            display: flex;
            align-items: center;
            gap: 8px;
            padding-left: 8px;
        }
        .note-heading-partial{
            display: flex;
            align-items: center;
            gap: 8px;
        }
        .go-back-button{
            display: flex;
            align-items: center;
            gap: 8px;
            cursor: pointer;
        }
        .navigation-menu-item {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            border-radius: 6px;
            cursor: pointer;
            border: none;
            background-color: white;
            border: 1px solid rgb(228, 228, 231);
        }
        .navigation-menu-item:hover{
            background-color: rgba(0, 0, 0, 0.1);
        }
        
    </style>
</head>
<body>
    <div class="container">
        <div style="max-height: calc(100vh - 32px - 40px - 17px - 32px); border-radius: 8px; margin-top: 24px;">
            <%= render @note %>
        </div>
        <div class="drittel">
            <%= render template: "sidebar/sidebar", locals: { ais: @ais } %>
        </div>
    </div>
</body>
</html>