<style>
  p{
    margin: 0; 
    padding: 0;
    font-size: 14px;
  }
  button{
    padding: 0;
    margin: 0;
  }
  .main{
    padding-top: 32px;
    padding-bottom: 256px;
    margin-left: 64px;
  }
  .new-btn {
    display: inline-flex;
    align-items: center;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    gap: 7px;
    transition: 0.3s ease;
    padding: 7px 14px;
    user-select: none;
  }
  .text-big{
    font-size: 24px;
  }
  
  .navigator{
    background: rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    display: flex;
    align-items: center;
    height: 40px;
  }

  .content-container{
    margin-left: 64px;
    margin-right: 64px;
  }

  .trending-container{
    margin-top: 32px;
  }
  .row-1-cols{
    margin-top: 16px;
  }
  .row-2-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(50% - 8px), 1fr));
    gap: 16px;
    margin-top: 16px;
  }

  .row-3-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(33.333% - 11px), 1fr));
    gap: 16px;
    margin-top: 16px;
  }

  .row-4-cols {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(25% - 12px), 1fr));
    gap: 16px;
    margin-top: 16px;
  }
  

  .mostread-container{
    margin-top: 32px;
  }
  .placeholer-container{
    display: flex;
    justify-content: space-between;
    margin: 0 64px;
    height: 40px;
  }
</style>


<div class="main">
    <div class="placeholer-container">
      <%= link_to new_course_path, class: 'new-btn' do %>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="18" height="18" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
          <path d="M12 5v14"></path>
          <path d="M5 12h14"></path>
        </svg>
        <span>Upload Course</span>
      <% end %>
      <div class="searchbar-container">
        <div class="searchbar">
          <button class="search-button">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search"><path d="m21 21-4.34-4.34"/><circle cx="11" cy="11" r="8"/></svg>        
          </button>
          <input placeholder="Search..." class="searchbar-input-field">
        </div>
      </div>
    </div>

  <div class="content-container">
    
      <div class="trending-container">
        <% 
          # Fetch courses with most likes in the last month
          trending_courses = Course.joins(:ratings)
                            .where(ratings: { rating_type: 'like', created_at: 1.month.ago..Time.now })
                            .group(:id)
                            .order(Arel.sql('COUNT(ratings.id) DESC'))
                            .limit(8)
          if trending_courses.any?
        %>
        <p class="text-big">Trending</p>
        <% if trending_courses.present? %>
          <div class="row-4-cols">
            <% trending_courses.each do |course|%>
              <%= render "coursecard", course: course %>
            <% end %>
          </div>
        <% end %>
        <% else %>
          <p>No trending courses availiable</p>
        <% end %>
      </div>
  <div class="mostread-container">
        <% 
            # Fetch courses with most views using a subquery to count views
          most_read_courses = Course.joins(:course_views)
                            .group(:id)
                            .order(Arel.sql('COUNT(course_views.id) DESC'))
                            .limit(8)
          
          if most_read_courses.any?
        %>
        <p class="text-big">Most Read</p>
        <div class="row-4-cols">
          <% most_read_courses.each do |course| %>
            <%= render "coursecard", course: course%>
          <% end %>
        </div>
        <% end %>
  </div>
</div>