<div class="front-page-container">
  <p>Discover Something New</p>
  <div class="searchbar-container">
    <input class="searchbar" />
    <div class="search-button">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-search-icon lucide-search">
        <path d="m21 21-4.34-4.34" />
        <circle cx="11" cy="11" r="8" />
      </svg>
    </div>
  </div>
  <div class="navigator">
    <div>
      <p>Home</p>
    </div>
    <div>
      <p>Following</p>
    </div>
    <div>
      <p>Saved</p>
    </div>
    <div>
      <p>History</p>
    </div>
    <div>
      <p>Search</p>
    </div>
  </div>
</div>

<div class="content-container">
  <div class="trending-container">
    <p>Trending</p>
    <div class="trending-row-1">
      <div class="course-card">
        <div>
          <%= image_tag "landscape-copy.jpg" %>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>

      <div class="course-card">
        <div>
          <img>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>
    </div>
    <div class="trending-row-2">
      <div class="course-card">
        <div>
          <img>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>
      <div class="course-card">
        <div>
          <img>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>
      <div class="course-card">
        <div>
          <img>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>
    </div>
  </div>
  <div class="continue-container">
    <button>
      <p>Upload Note</p>
      <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-plus-icon lucide-plus">
          <path d="M5 12h14" />
          <path d="M12 5v14" />
        </svg>
      </div>
    </button>
    <div>
      <p>Continue Reading</p>
      <div class="course-card">
        <div>
          <img>
          <p class="course-title">Title</p>
          <p class="course-author">Author</p>
          <p class="views">1636 Views</p>
        </div>
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-bookmark-icon lucide-bookmark">
          <path d="m19 21-7-4-7 4V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2v16z" />
        </svg>
      </div>
    </div>
  </div>
</div>